@{
    ViewData["Title"] = "My Podcasts";
}

<br /><br /><br /><br /><br />
<div class="text-center">
    <h1 class="display-4">To Check Out My Podcasts</h1>
    <br />
    <a class="btn btn-dark" href="https://baconsale.com/">Click Here!</a>
</div>